/* saját stíluslap */

.BodyMain { min-height: 80vh;}

.mainContainer {
    max-width: 100%;
}

/* menü aktív link beállítása */
.navbar-dark .nav-item > .nav-link.active  {
    color:white;
    font-weight: bold;
    background-color: red;
}
.navbar-dark .nav-item:hover {
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.788);
}

.feladatlista {
    cursor: pointer;
    font-weight: bold;
    padding: 0px 5px;
    margin: 15px 0;
}
.feladatlista:hover {
    background-color: rgba(250, 0, 0, 0.3);
}
.feladatlista a:active {
    background-color: aqua;
}

.kivalasztott_feladat {
    padding: 15px;
}

/* űrlapoknál ha hiba van a mezőnél */
label.error {
    color: rgb(0, 0, 0);
    font-style: italic;
    background-color: darkorange;
    padding: 7px 15px;
    margin: 0px 5px;
}


/* Médialekérdezések */

@media (min-width: 1400px) {
    .mainContainer{
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}